{% extends 'base.html' %}
{% block title %}My Dashboard{% endblock %}
{% block content %}
    <h1><b>Welcome</b> {{ first_name }} {{ last_name }}</h1>
    <hr>
<!-- "Create or Join Meeting" button -->
    <div class="create-meeting-button">
        <div class="button-container">
            <a class="btn btn-primary" href="{{ url_for('meeting') }}">Create Meeting</a>
            <a class="btn btn-primary" href="{{ url_for('join') }}">Join Meeting</a>
            <a class="btn btn-outline-light" href="{{ url_for('logout') }}">Logout</a>
        </div>

{% endblock %}
