{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
            <div class="alert alert-success">
                {{ messages | join('<br>') | safe }}
            </div>
    {% endif %}
{% endwith %}

<div class="mb-md-5 mt-md-4 pb-5">

    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
    <p class="text-white-50 mb-5">Please enter your login and password</p>

    <form action="{{ url_for('login') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="form-outline form-white mb-4">
    {{ form.email.label }} {{ form.email(class="form-control form-control-lg", id="email") }}<br>
    {{ form.password.label }} {{ form.password(class="form-control form-control-lg", id="password") }}
    </div>
    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
</form>
</div>

<div><p class="mb-0">Don't have an account? <a href="{{ url_for('register') }}" class="text-white-50 fw-bold">Register</a></p> </div>

{% endblock %}